### IDE files ###
# IntelliJ IDEA
.idea/*
!.idea/libraries/
.idea/libraries/*
!.idea/libraries/mysql_connector_j_9_6_0.xml
*.iml
.kotlin

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Build outputs ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
target/
build/

### Java artifacts and logs ###
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

### OS files ###
.DS_Store
Thumbs.db
